ul {
    list-style: none;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header__navbar-list {
    margin: auto 0px;
    padding-right: 30px;
}

.header__navbar-item {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 16px;

    position: relative;
}

/* Di chuột vào hiển thị bảng */
.header__navbar-item--has-notify:hover .header__dropdown--NAM,
.header__navbar-item--has-notify:hover .header__dropdown--NU,
.header__navbar-item--has-notify:hover .header__dropdown--icon {
    display: block;
}

/* Di chuột vào NAM */
.header__dropdown--NAM,
.header__dropdown--NU,
.header__dropdown--icon {
    position: absolute;
    left: -10px;
    width: 120px;
    background-color: rgb(255, 253, 253);
    border: 1px solid #D3D3D3;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}
.header__dropdown--icon {
    left: -30px;
    width: 140px;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.header__dropdown--NAM-list,
.header__dropdown--NU-list,
.header__dropdown--icon-list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.header__dropdown--NAM-item,
.header__dropdown--NU-item,
.header__dropdown--icon-item {
    padding: 5px 0;
    font-size: 1.4rem;
}

.header__dropdown--NAM-link,
.header__dropdown--NU-link,
.header__dropdown--icon-link {
    text-decoration: none;
    color: black;
}

.header__dropdown--NAM-link:hover,
.header__dropdown--NU-link:hover,
.header__dropdown--icon-link:hover {
    color: rgba(234, 234, 99, 0.743)
}

.header__navbar-item--a {
    text-decoration: none;
    color: white;
}

.header__navbar-item--a:hover {
    color: yellow;
    cursor: pointer;
}
.header__navbar-item--logo {
    width: 300px;
    height: 70px;

}

.header__title {
    display: flex;
    flex-direction: column;
}

.header__title-list {
    margin: 0 auto;
}

.header__title--large {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.header__title-item {
    display: inline-block;
}

.header__title--small>li {
    font-size: 18px;
    padding: 20px 5px 0 5px;
    font-weight: 500;
    color: white
}

.header__title-item--yellow {
    color: #FAD410 !important;
}

/* Main */
main{
    display:flex;
}
.main__block{
    margin: 0 auto;
    background-color: rgb(250, 249, 249);
    max-width: 500px;
    border: 0.3px solid rgb(176, 170, 170);
    display: flex;
}
.main__infor-list {
    padding: 30px 40px;
}
.main__infor-item{
    padding: 6px 10px;
}
.main__infor-item--title{
    font-size: 1.4rem;
    font-weight: 600;
}
.main__infor-item--content{
    width: 350px;
    height: 35px;
}

/* Footer */
.footer__infor {
    margin-top: 70px;
    border: 0.5px solid rgb(44, 40, 40);
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;

}

/* ul */
.footer__list {
    padding-top: 30px;
}

.footer__item {
    padding: 8px;
}

.footer__item--icon {
    color: black;
    font-size: 30px;
}

.footer__item--danhmucsp {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

.footer__item--contact {
    font-weight: 400;
    max-width: 300px;
}